#정렬
 - 값을 오름/내림 으로 정렬

버블

In [ ]:
l=[1,3,65,3,2,5,78]
for i in range(len(l)-1):
  print(i,end=' ')
print()
for i in range(1,len(l)):
  print(i,end=' ')

0 1 2 3 4 5
1 2 3 4 5 6

In [ ]:
a=10
b=20
a,b

(10, 20)

In [ ]:
b=a
a=b
a,b

(10, 10)

In [ ]:
x=10
y=20
print(x,y)
def sp():
  global x
  global y
  t=x
  x=y
  y=t
sp()
print(x,y)

10 20
20 10

In [ ]:
a=10
b=20
print(a,b)
b,a = a,b
print(a,b)

10 20
20 10

In [ ]:
l=[1,3,65,3,2,5,78]
l

[1, 3, 65, 3, 2, 5, 78]

In [ ]:
l=[1,3,65,3,2,5,78]
ck=0
for j in range(1,len(l)):
  for i in range(len(l)-1):
    ck+=1
    if l[i]<l[i+1]:
      #인접교환
      l[i],l[i+1]=l[i+1],l[i]
      print(l)
print(f"완성:{l},시간:{ck}")

[3, 1, 65, 3, 2, 5, 78]
[3, 65, 1, 3, 2, 5, 78]
[3, 65, 3, 1, 2, 5, 78]
[3, 65, 3, 2, 1, 5, 78]
[3, 65, 3, 2, 5, 1, 78]
[3, 65, 3, 2, 5, 78, 1]
[65, 3, 3, 2, 5, 78, 1]
[65, 3, 3, 5, 2, 78, 1]
[65, 3, 3, 5, 78, 2, 1]
[65, 3, 5, 3, 78, 2, 1]
[65, 3, 5, 78, 3, 2, 1]
[65, 5, 3, 78, 3, 2, 1]
[65, 5, 78, 3, 3, 2, 1]
[65, 78, 5, 3, 3, 2, 1]
[78, 65, 5, 3, 3, 2, 1]
완성:[78, 65, 5, 3, 3, 2, 1],시간:36

In [ ]:
l=[1,3,65,3,100,2,5,78]
ck=0
n=len(l)
for j in range(1,n):
  for i in range(n-j):
    ck+=1
    if l[i]<l[i+1]:
      #인접교환
      l[i],l[i+1]=l[i+1],l[i]
      print(l)
print(f"완성:{l},시간:{ck}")

In [ ]:
def bubble_sort(in_l,조건=1):
  l=in_l[:]
  l_n=len(l)
  for 이동 in range(1,l_n):
    for idx in range(l_n-이동):
      #조건:1 오름차순,조건:2 내림
      if 조건==1:
        if l[idx]>l[idx+1]:
          l[idx],l[idx+1]=l[idx+1],l[idx]
          print("교환",end=' ')
        else:
          print("이동",end=' ')
    print(이동)
  return l

In [ ]:
bubble_sort(l)

이동 이동 교환 교환 교환 이동 1
이동 이동 교환 이동 이동 2
이동 교환 이동 이동 3
이동 이동 이동 4
이동 이동 5
이동 6

[1, 2, 3, 3, 5, 65, 78]

In [ ]:
l2=[1,3,65,3,2,5,78]
bubble_sort(l2)

이동 이동 교환 교환 교환 이동 1
이동 이동 교환 이동 이동 2
이동 교환 이동 이동 3
이동 이동 이동 4
이동 이동 5
이동 6

[1, 2, 3, 3, 5, 65, 78]

In [ ]:
l=[1,2,3]
l[-4+1]

1

In [ ]:
l=[1,2,3]
l.insert(-3,20)
l

In [ ]:
l=[1,65,3,7,2,3]
n=len(l)
for i in range(1,n):
  삽입값=l[i]
  비교값_i=i-1
  while 비교값_i>=0 and l[비교값_i]>삽입값:
    l[비교값_i+1]=l[비교값_i]
    비교값_i-=1
  l[비교값_i+1]=삽입값
l

[1, 2, 3, 3, 7, 65]

In [ ]:
def ins_sort(in_l):
  l=in_l[:]
  n=len(l)
  for i in range(1,n):
    삽입값=l[i]
    비교값_i=i-1
    while 비교값_i>=0 and l[비교값_i]>삽입값:
      l[비교값_i+1]=l[비교값_i]
      비교값_i-=1
    l[비교값_i+1]=삽입값
  return l
l=[1,65,3,7,2,3]
print(l)
print(ins_sort(l))

[1, 65, 3, 7, 2, 3]
[1, 2, 3, 3, 7, 65]

선택정렬

In [ ]:
최고점=max(l)
최저점=min(l)
l,최고점,최저점

([1, 65, 3, 7, 2, 3], 65, 1)

In [ ]:
l=[1, 65, 3, 7, 2, 3]
print(l)
for i in range(len(l)):
  최고점=max(l[i:])
  print(최고점)
  l.remove(최고점)
  l.insert(i,최고점)
l

In [ ]:
l=[1, 65, 3, 7, 2, 3]

In [ ]:
최고점=max(l[2:])
print(최고점)
l.insert(2,l.pop(l.index(최고점)))
l

3

[65, 7, 3, 1, 2, 3]

In [ ]:
l=[1, 65, 3, 7, 2, 3]
for i in range(0,n-1):
  min_idx=i
  for j in range(1+i,n):

In [ ]:
입력데이터=[1, 65, 3, 7, 2, 3]
정렬결과=[]

In [ ]:
while 입력데이터:
  max_v=0
  #최고값 찾기
  n=0
  for i in range(len(입력데이터)):#입력 데이터 만큼 동작
    if max_v<=입력데이터[i]:#i 번째 값과 최대값 비교(i번째 값이 최대값일때)
      max_v=입력데이터[i]
      n=i
  print(max_v,n)#입력데이터중 가장큰값 큰값의 인덱스
  최대값=입력데이터.pop(n)#입력 데이터에서 최대값 제거
  #삽입
  정렬결과.append(최대값)
정렬결과

[1, 2, 3, 3, 7, 65]

삽입/선택/버블

삽입 정렬 - 0에서 접근

In [ ]:
입력데이터=[1, 65, 3, 7, 2, 3]
정렬결과=[]
모드=0
#1. 원소추출
while 입력데이터:
  추출값 = 입력데이터.pop(0)
  n=0
#2. 비교
  while True:
    if len(정렬결과)==n:
      비교자리=n
      break
    elif 모드==0 and 정렬결과[n]>추출값:
      비교자리=n
      break
    elif 모드==1 and 정렬결과[n]<추출값:
      비교자리=n
      break
    else:
      n+=1
#3. 원소 삽입
  정렬결과.insert(비교자리,추출값)
정렬결과

[1, 2, 3, 3, 7, 65]

삽입 정렬 - -1에서 접근

In [ ]:
입력데이터=[1, 65, 3, 7, 2, 3]
정렬결과=[]
모드=0
#1. 원소추출
while 입력데이터:
  추출값 = 입력데이터.pop(0)
  n=len(정렬결과)-1
#2. 비교
  while True:
    if len(정렬결과)==0 or n==-1:
      비교자리=0
      break
    elif 모드==0 and 정렬결과[n]<추출값:
      비교자리=n+1
      break
    elif 모드==1 and 정렬결과[n]>추출값:
      비교자리=n+1
      break
    else:
      n-=1
#3. 원소 삽입
  정렬결과.insert(비교자리,추출값)
정렬결과

[1, 2, 3, 3, 7, 65]

선택정렬

In [ ]:
입력데이터=[1, 65, 3, 7, 2, 3]
정렬결과=[]
모드=0
#선택
#1. 비교
while 입력데이터:
  기준값=입력데이터[0]
  비교자리=0
  for i in range(len(입력데이터)):
    if 모드==0 and 기준값>입력데이터[i]:
      기준값=입력데이터[i]
      비교자리=i
    elif 모드==1 and 기준값<입력데이터[i]:
      기준값=입력데이터[i]
      비교자리=i
#2. 원소 추출
  추출값=입력데이터.pop(비교자리)
#3. 원소 삽입
  정렬결과.append(추출값)
정렬결과

[1, 2, 3, 3, 7, 65]

버블정렬

In [ ]:
입력데이터=[1, 65, 3, 7, 2, 3]
정렬결과=[]
모드=0
#버블
#1. 비교
while 입력데이터:
  for i in range(len(입력데이터)-1):
#2. 이동/교체
    if 모드==0 and 입력데이터[i] <입력데이터[i+1]:
      입력데이터[i],입력데이터[i+1]=입력데이터[i+1],입력데이터[i]
    elif 모드==1 and 입력데이터[i] >입력데이터[i+1]:
      입력데이터[i],입력데이터[i+1]=입력데이터[i+1],입력데이터[i]
#3. 원소추출
  추출값=입력데이터.pop()
#4. 원소 삽입
  정렬결과.append(추출값)
정렬결과

[1, 2, 3, 3, 7, 65]